.skelton__transaction-entry {
    padding: 10px 5px;
    header, div {
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }

    header span {
        margin-bottom: 2px;
        height: 18px;
        width: 50px;
    }

    div span {
        height: 24px;
        width: 100px;
    }
}

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: rgb(77, 76, 76);
    border-radius: 5px;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(99, 99, 99, 0.6),
            transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}