.form {

    border-radius: 10px;
    background-color: #2c2a2a;
    overflow: hidden;
    width: 100vw;
    max-width: 500px;

    &__fieldset--type {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        label {
            display: flex;
            width: 100%;
            padding: 10px 20px;
            
        }

        label:has(input:checked) {
            background-color: #363434;
            color: white;
        }
    }

    &__fieldset--title , &__fieldset--amount {
        display: flex;
        margin: 10px;

        label {
            width: 60px;
        }
    }
    

    &__button {
        padding: 10px;
        border: 0;
        border-radius: 5px;
    }

    &__input {
        padding: 10px;
        border-radius: 5px;
        border: 0;
        text-align: center;
    }

    &__input[type="radio"] {
        appearance: none;
        position: absolute;
    }
}