.form {
    border-radius: 10px;
    background-color: #2c2a2a;
    position: absolute;
    overflow: hidden;
    @media (max-width: 500px) {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;

        button {
            display: none;
        }
    }
    

    @media (min-width: 501px) {
        max-width: 500px;
    }

    &__fieldset {
        &--type {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            label {
                display: flex;
                width: 100%;
                padding: 10px 20px;
            }

            label:has(input:checked) {
                background-color: #363434;
                color: white;
            }
        }

        &--amount {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                padding: 10px;
                font-size: 18px;
                border-radius: 5px;
                border: none;
                width: calc(50% - 20px);
                justify-self: center;
            }
        }

    }


    &__button {
        padding: 10px;
        border: 0;
        border-radius: 5px;
    }

    &__input[type="radio"] {
        appearance: none;
        position: absolute;
    }
}