.transaction-entry {
    position: relative;
    max-width: 500px;
    min-width: 300px;
    box-sizing: border-box;
    width: 100vw;

    &__overview {
        position: relative;
        padding: 10px 5px;
        background-color: #242424;
        z-index: 2;
        header, div {
            display: flex;
            justify-content: space-between;
            margin: 0;
            height: fit-content;

            span, time {
                font-size: 14px;
                color: rgb(145, 144, 144);
            }

            [data-role="transaction-amount__income"] {
                color: rgb(17, 185, 17);
            }

            [data-role="transaction-amount__expense"] {
                color: rgb(224, 14, 14);
            }
        }
    }

    &__actions {
        position: absolute;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px 5px;
        z-index: 1;
        right: 0;
        top: 0;
        bottom: 0;

        button {
            height: 100%;
            width: 50px;
            img {
                width: 20px;
            }
        }
    }

    &__button--delete {
        background-color: rgb(165, 15, 15);
    }

    &__button--edit {
        background-color: rgb(197, 197, 35);
    }
}