.TransactionList {
    background-color: #242424;
    max-width: 500px;
    min-width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100vw;
    padding: 10px;
    &__date {
        display: block;
        width: fit-content;
        font-weight: bold;
        background-color: #2e2d2d;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 auto;
    }
}